Repository omarcusdantas/marcusdantas: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write

chore: add simple-git-hooks to run pnpm precommit before commits
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update lintstaged to run lint:fix on individual files
  .lintstagedrc
Due: none

build: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add theming
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/components/Header/index.tsx
  src/components/ThemeToggle/index.tsx
Due: pnpm lint:fix, prettier --write

feat: add internationalization
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/[locale]/favicon.ico
  src/app/[locale]/globals.css
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/i18n/messages/en.json
  src/i18n/messages/pt.json
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
  src/shared/components/Header/index.tsx
  src/shared/components/ThemeToggle/index.tsx
Due: pnpm lint:fix, prettier --write

feat: add language toggle and configure static paging
  src/app/[locale]/globals.css
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/i18n/locales.ts
  src/i18n/routing.ts
  src/shared/components/Header/index.tsx
  src/shared/components/LanguageToggle/index.tsx
Due: pnpm lint:fix, prettier --write

refactor: wrap external packages
  package.json
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/shared/components/ThemeToggle/index.tsx
  src/shared/contexts/IntlContext/index.tsx
  src/shared/contexts/ThemeContext/index.tsx
  src/shared/hooks/useIntl/index.tsx
  src/shared/hooks/useTheme/index.tsx
Due: pnpm lint:fix, prettier --write

chore: add test framework and coverage
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: prettier --write

test: add tests for custom hooks (intl and theme)
  package.json
  src/shared/hooks/useIntl/useIntl.test.ts
  src/shared/hooks/useTheme/useTheme.test.ts
  vitest.config.mts
Due: pnpm lint:fix, prettier --write

feat: add navbar for desktop
  package.json
  pnpm-lock.yaml
  src/app/[locale]/blog/page.tsx
  src/app/[locale]/globals.css
  src/app/[locale]/layout.tsx
  src/modules/layout/components/Header/index.tsx
  src/modules/layout/components/LanguageToggle/index.tsx
  src/modules/layout/components/Navbar/index.tsx
  src/modules/layout/components/ThemeToggle/index.tsx
  src/modules/layout/hooks/useTheme/index.tsx
  src/modules/layout/hooks/useTheme/useTheme.test.ts
  src/shared/components/Header/index.tsx
Due: pnpm lint:fix, prettier --write

test: add tests for navbar
  package.json
  pnpm-lock.yaml
  setupTests.ts
  src/modules/layout/components/Navbar/Navbar.test.tsx
  src/modules/layout/components/Navbar/index.tsx
  src/modules/layout/hooks/useTheme/useTheme.test.tsx
  src/shared/hooks/useIntl/useIntl.test.tsx
  tsconfig.json
  vitest.config.mts
Due: pnpm lint:fix, prettier --write

style: rename props to add component name at the beginning
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/shared/contexts/IntlContext/index.tsx
  src/shared/contexts/ThemeContext/index.tsx
Due: pnpm lint:fix, prettier --write

feat: add mobile menu
  src/app/[locale]/layout.tsx
  src/modules/layout/components/Header/index.tsx
  src/modules/layout/components/LanguageToggle/index.tsx
  src/modules/layout/components/MobileMenu/index.tsx
  src/modules/layout/components/Navbar/Navbar.test.tsx
  src/modules/layout/components/Navbar/index.tsx
Due: pnpm lint:fix, prettier --write

test: add tests for mobile menu
  src/modules/layout/components/MobileMenu/MobileMenu.test.tsx
  src/modules/layout/components/Navbar/Navbar.test.tsx
Due: pnpm lint:fix, prettier --write

refator: adapt pages and root layout to make pages that use i18n static
  src/app/[locale]/blog/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/shared/hooks/useIntl/index.tsx
  src/shared/utils/intl/index.ts
  src/shared/utils/intl/intl.test.ts
Due: pnpm lint:fix, prettier --write

fix: static rendering failing
  src/app/[locale]/blog/page.tsx
  src/app/[locale]/page.tsx
  src/modules/layout/components/Header/index.tsx
  src/shared/hooks/useIntl/index.tsx
  src/shared/utils/intl/index.ts
Due: pnpm lint:fix, prettier --write

chore: add eslint plugin for import order
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/layout.tsx
  src/i18n/request.ts
  src/modules/layout/components/Header/index.tsx
  src/modules/layout/components/LanguageToggle/index.tsx
  src/modules/layout/components/MobileMenu/MobileMenu.test.tsx
  src/modules/layout/components/MobileMenu/index.tsx
  src/modules/layout/components/Navbar/Navbar.test.tsx
  src/modules/layout/hooks/useTheme/useTheme.test.tsx
  src/shared/utils/intl/index.ts
  src/shared/utils/intl/intl.test.ts
Due: pnpm lint:fix, prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss,html})
